*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --green: #3bba6d;
  --red: #db5b33;
  --gray: #999;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  min-height: 100vh;
}

.title {
  color: var(--red);
  font-weight: 300;
  text-align: center;
}

/* 뷰를 구현하세요. */
.calendar {
  display: inline-block;
  position: relative;
  --calendar-size: 300px;
  --font-size: calc(var(--calendar-size) / 7 / 2.5);
  font-size: var(--font-size);
}

.calendar .prev,
.calendar .next {
  cursor: pointer;
}

.calendar-wrapper {
  width: var(--calendar-size);
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-top: 5px;
}

.calendar-wrapper.hidden {
  display: none;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--white);
  padding: 1rem;
}
.calendar-nav .button {
  font-size: 1em;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--white);
}

.calendar-title {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.calendar-grid {
  display: grid;
  /* background-color: red; */
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-of-week {
  color: var(--gray);
}

.date-grid > button {
  font-size: 0.9em;
  width: calc(var(--calendar-size) / 7);
  height: calc(var(--calendar-size) / 7);
  border-radius: 50%;
  border: none;
  background-color: transparent;
  padding: 0;
}

.date-grid > button > time {
  display: inline-block;
  line-height: calc(var(--calendar-size) / 7);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* 살아있어라 잠만 */
.date-grid button:first-child {
  /* grid-column: 6; */
}

.date-grid button:first-child,
.date-grid button:nth-child(7n + 1) {
  color: var(--red);
}

.date-grid button:first-child.other-month,
.date-grid button:nth-child(7n + 1).other-month {
  color: var(--gray);
}

.date-grid > button:hover {
  background-color: var(--green);
  color: var(--white);
}

.date-grid > button.selected {
  background-color: var(--green);
  color: var(--white);
}

.other-month {
  color: var(--gray);
}
